.glob{
  background-image: linear-gradient(rgba(0, 0, 0, 0.847), rgba(0, 0, 0, 0.6)), 
   url('file_00000000ff7882438cc5444fc7b4f561.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* height: 100vh; */
  margin: 0;
}